<div class="rakutenbooksearchbtn ml-auto mb-3">
    <%= link_to "検索画面へ戻る",new_rakutenbook_path, class: "form-control btn btn-success" %>
</div>

<% @books.each do |book| %>
  <div class="card mb-3">
    <div class="card-body">
     <p class="card-text">
       <div class="row">
         <div class="col-2">
          <%= link_to (image_tag(book.medium_image_url)), book.item_url %>
         </div>
         <div class="col-6">
         <span class="badge badge-warning"><%= "発売日:#{book.sales_date}" %></span>
         <span class="badge badge-success"><%= "著者: #{book.author}" %></span>
         <br>
         <%= link_to book.title, book.item_url %>
         </div>
       </div>
    </div>
  </div>
<% end %>

<% if @books.present? %>
<%= paginate @books %>
<% end %>