<div class="book-title-area px-3 py-2 text-center bg-white">
  <h1>Bookshelf</h1>
  <%= link_to new_book_path, title: "New", class: "btn p-0 text-dark", remote: true do %>
    <span class="align-middle btn btn-outline-success">本のタイトルを登録</span>
  <% end %>
  
  <%  if current_user.books.exists?  %>
  <%= link_to search_path, class: "btn p-0 text-dark", remote: true do %>
    <span class="align-middle pr-1 btn btn-outline-danger">本のタイトルを検索</span>
  <% end %>
  <% end %>
  
  
  
	<!--実際にbookが表示される部分-->
</div>
<div class="text-center py-3 text-nowrap books-index-area" id="booksIndex">
  <%= render @books %>
</div>

 
 
 
 




  <!--<div class="search-form">-->
  <!--<%= form_with url: search_path, method: :get, local: true do |f| %>-->
  <!--  <%= f.text_field :keyword, value: @keyword %>-->
  <!--  <%= f.submit "検索" %>-->
  <!--<% end %>-->
  <!--</div>-->
  <!--<div class="book-list">-->
  <!--<% @books.each do |book| %>-->
  <!--  <%= book.title %>-->
  <!--<% end %>-->
  <!--</div>-->
  


