<div class="book-title-area px-3 py-2 text-center bg-white">
  <h1>Bookshelf</h1>
  <%= link_to new_book_path, title: "New", class: "btn p-0 text-dark", remote: true do %>
    <span class="align-middle btn btn-outline-success">本のタイトルを登録</span>
  <% end %>
	<!--実際にbookが表示される部分-->
</div>
<div class="text-center py-3 text-nowrap books-index-area" id="booksIndex">
  <%= render @books %>
</div>

 
 
 
 

<!--  <%= form_with model: @book, local: true do |form| %>-->
 <!--#titleの入力フォーム生成-->
<!--  <%= form.text_field :title %> -->
<!--#送信ボタンを生成-->
<!--  <%= form.submit "登録" %> -->

<!--</div>-->
<!--<% end %>-->


  <!--<div class="search-form">-->
  <!--<%= form_with url: search_path, method: :get, local: true do |f| %>-->
  <!--  <%= f.text_field :keyword, value: @keyword %>-->
  <!--  <%= f.submit "検索" %>-->
  <!--<% end %>-->
  <!--</div>-->
  <!--<div class="book-list">-->
  <!--<% @books.each do |book| %>-->
  <!--  <%= book.title %>-->
  <!--<% end %>-->
  <!--</div>-->
  


