<div class="modal fade" id="dal" tabindex="-1" role="dialog" aria-labelledby="tagModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_with(model: tag, remote: true) do |form| %>
        <div class="modal-header">
          <h5 class="modal-title" id="tagModal"><%= "#{params[:action].camelize} #{tag.model_name.human}" %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% if tag.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(tag.errors.count, "件のエラー") %>があります。以下の理由で登録できません:</h2>
              <ul>
                <% tag.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :name %>
            <%= form.text_field :name, placeholder: "作成したいタグの名前を入力してください。" %>
          </div>
         <%= render 'index' %>
          <div class="modal-footer actions">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "タグを作成・削除"%>
       </div>
      <% end %>
    </div>
  </div>
</div>
