<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="loading">
      <div id="loading_box">
        <div class="loading-one animation_loading">
          <p class="loading-txt">Loading</p>
        </div>
      </div>
    </div>
      <%= render "layouts/flash" %>
       <div id="wrapper">
        <%= yield %>
         <div class="mt-5">
          <ul class="pro_merit_ul ">
            <div class= "mb-3 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <li class="pro_merit_li">
              <%= image_tag "/assets/reg.png", class: "imgs" %> 
              </li>
            </div>
            <div class= "mb-3 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <li class="pro_merit_li">
              <%= image_tag "/assets/search.png", class: "imgs" %> 
              </li>
            </div>
          </ul>
         </div>
       </div>
  </body>
</html>
