<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <%= render "layouts/flash" %>
      <div class="container">
        <%= yield %>
      </div>
      <serection class="py-10">
        <h2 class="pro_freeword_title mb-8 bg-white">本を管理しよう!!</h2>
        <ul class="pro_merit_ul">
            <div class= " pa-0 mb-3 col-sm-6 col-md-7 col-lg-4 col-">
              <li class="pro_merit_li">
                <h3 class="pro_merit_subtitle">本をコレクション</h3>
                <div class="v-image v-responsive pro_merit_image ">
                  <img class="v-image__image">
                </div>
                <p class="pro_merit_text">本を登録、タグ付けできます。</p>
              </li>
            </div>
            <div class= "pa-0 mb-3 col-sm-6 col-md-7 col-lg-4">
              <li class="pro_merit_li">
                <h3 class="pro_merit_subtitle">もう同じ本は買わない</h3>
                <div class="v-image v-responsive pro_merit_image ">
                  <img class="v-image2__image">
                </div>
                <p class="pro_merit_text">登録した本を検索できます。</p>
              </li>
            </div>
        </ul>
      </serection>
  </body>
</html>
